* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* max-width: 100%; */
}

.app {
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
 
}

.header h1 {
  font-size: 30px;
}

.header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.points {
  font-size: 14px;
}

.survey-question {
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.question-info {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.question-info span {
  margin-right: 5px;
}

.survey-question p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.option input {
  margin-right: 10px;
}

.option label {
  color: #000; /* Set answer option text color to black */
}
.submit-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #00695c;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #004d40;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit-button {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-self: self-end;
}

.short-answer-input {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
